* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

section {
    background-color: #181818;
    margin-top: 4em;
    margin-bottom: 40em;
}

.logo{
    text-align: left;
    font-size: 50px;
}

h1, h2, h3, h4, p {
    color: white;
}

a {
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    padding: 5px;
    color: white;
    background: none;
}

.comingSoon{
    margin: 5px;
    padding-top: 1em;
    background-color: black;
    text-align: left;
}

.lineBreak{
    height: 2px;
    width: 20em;
    background-color: grey;
    margin: auto;
    width: 50%;
}

a:hover {
    text-decoration: underline;
}

p{
    background-color: #181818;
}

.bottom{
    background-color: black;
    padding: 1em;
}

.video {
    width: 50em;
    height: 25em;
    z-index: -2;
}

.vidhole {
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 0 0 2em 0;
    min-width: 150px;
    margin-top: 5em;
    margin-bottom: 5em;
}

.vidHoleHome {
    background-color: #181818;

}

.info {
    background-color: #181818;
    text-align: center;
    padding-top: 5em;
    margin-left: 2em;
    margin-right: 2em;
    max-width: 600px;
    margin: auto;
}

.gameInfo {
    text-align: center;
    margin: auto;
    max-width: 600px;
}

.GameInfo{
    background-color: black;
    padding: 1em;
}

.topBar{
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 10px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.bannerText {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    margin-top: 4em;
    background-color: #181818;
}

.row{
    background-color: #181818;
    max-width: 500px;
    padding-bottom: 30em;
    margin: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.profile {
    text-align: center;
    margin: auto;
    width: 60%;
    padding-bottom: 10em;
    background-color: #181818;
}

.burger{
    padding: 2em;
}



.profileImg {
    margin: auto;
    
    width: 100%;
    background-color: #181818;
}

.profileText {
    position: absolute;
    width: 200px;
}

.aboutText{
    background-color: #181818;
}

.contact{
    background-color: #181818;
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 20em;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer{
    font-size: 20px;
}

.fa {
    text-decoration: none;
}

.fa:hover {
opacity: 0.7;
}
  
.fa-twitter {
    width: 25px;
}
    
.fa-youtube {
    width: 40px;
}

.fa-itch {
    width: 30px;
}

@media only screen and (max-width: 480px) {
    .vidhole {   
       width: 300px;
        background-color: black;
        padding: 0 0 2em 0;
    }

    .video {
        width: 100%;
        height: 100%;
    }

    .profileText {
        position: absolute;
        width: 130px;
    }

    .profileImg {
        margin: auto;
        padding-left: 1px;
        width: 100%;
        background-color: #181818;
    }
}